@keyframes anime{
    0%{ color:white;
        background-color: black;
        transform: rotate(-360deg);
        margin-top: 100px;
        color: blue;

    }
    10%{color: black;}
    1%{color: white;
        background-color: white;
        margin-top: -1px;
    }
}

@keyframes background-a {
    10%{
        background-color:black;
    }
    100%{
        background-color: white;
    }
}

body {
    animation-name: background-a;
    animation-duration: .00001s;
    animation-iteration-count: infinite
}


h1 {
    animation-name: anime;
    animation-duration: .00000001s;
    animation-iteration-count: infinite
}

#suc {
    font-size: 100px;
    font-style: oblique;
    color: lime;
}